# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.pbxuser
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (if ever used)
Pods/
Podfile.lock

# Fastlane (if ever used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Secrets / env
.env
*.p12
*.mobileprovision
